.card-container {
    display: flex;
}

.card {
    display: grid;
    grid-template-rows: 4fr 1fr;
}

.card {
    margin: auto 15px;
    background: #1e1f27;
    width: 200px;
    height: 280px;
    border-radius: 10px;
}

.card .description {
    padding: 10px;
}
.card .year {
    padding: 10px;
}

.card:hover {
    border-style: solid;
    border-color: #FFA022;
}

.card.selected {
    border-style: solid;
    border-color: #c07b1c;
}

.left,.right {
    margin: auto 0;
}

.right {
    position: relative;
    right: 0px;
}

.left {
    position: relative;
    left: 0px;
}