.App {
  text-align: center;
}

.game-table {
  display: grid;
  grid-template-rows: 7% 50% 43%;
  min-height: 100vh;
}

.table,.hand {
  margin: 0 20px;
  overflow: auto;
  white-space: nowrap;
  display: grid;
  justify-items: center;
  grid-auto-flow: column;
  grid-column-gap: 25px;
  grid-auto-columns: 220px;
  height: 350px;
}

.table {
    padding: 0 20px;
}

.player-hud {
  display: grid;
  overflow: auto;
  white-space: nowrap;
  grid-template-columns: 200px auto 200px;
}